storage:
  dbPath: /var/lib/mongodb

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: 27017
  bindIp: 127.0.0.1,{{ ansible_default_ipv4.address }}

security:
  authorization: enabled

processManagement:
  timeZoneInfo: /usr/share/zoneinfo
